<!DOCTYPE html>

<html>
<head>
	<title>My Application</title>
</head>
<body>
	<p> This page was rendered <%= new Date() %> !</p>

	<button id= "myButton"> Button</button>

	<script src="script.js">

	</script>
</body>
</html>